.bmi-container-outer {
  margin-bottom: 85px;
  width: 100%;
}

.bmi-container-outer .heading {
  width: 46%;
  max-width: 671px;
  margin-bottom: 85px;
}

.bmi-container-inner {
  width: 100%;
  background: rgb(34, 34, 34);
}

.bmi-container-inner .bmi-container {
  max-width: 1440px;
  width: 72%;
  margin: 0 auto;
  padding: 50px 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 15%;
}

.bmi-container h5 {
  font-size: 1.75rem;
}

.table table {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  border-collapse: collapse;
  width: 310px;
  text-align: left;
  margin-top: 50px;
}

table tr {
  border: 1px solid rgba(255, 255, 255, 0.1);
}

thead tr th:first-child,
tbody tr td:first-child {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

table th,
td {
  padding: 13px 18px;
}

thead tr {
  font-weight: bold;
}

th {
  padding: 15px 20px;
  color: rgb(255, 255, 255);
}

.table-heading p {
  margin-top: 16px;
}

.bmi-calculator {
  width: 100%;
  margin-top: 35px;
}

.bmi-calculator .bmi-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  margin-bottom: 32px;
}

.bmi-calculator .bmi-info input,
.bmi-calculator .bmi-info select {
  padding: 12px 15px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 1rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  border: none;
  outline: none;
  width: 100%;
}

.bmi-calculator .bmi-info select option {
  color: black;
}

.bmi-calculator .bmi-info select:last-child {
  grid-column: 1 / -1;
}

.bmi-calculator-container .bmi-calculator .btn {
  padding: 12px 40px;
}

@media (max-width: 572px) {
  .bmi-container-outer .heading {
    width: 87%;
  }

  .bmi-container-inner .bmi-container {
    width: 90%;
    flex-direction: column;
    justify-content: left;
    gap: 44px;
  }

  .bmi-container h5 {
    font-size: 1.3rem;
  }
}
